body,td,th {
    font-family: "微软雅黑", "Microsoft Yahei", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
    color: white;
}

a:link {color: #999999;} /* 未访问的链接 */
a:visited {color: #999999;} /* 已访问的链接 */
a:hover {color: #EA4335;} /* 鼠标划过链接 */
.right{
    float: right;
}

body{
    background-image: url('../img/back_climb.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#navbar{
    /*position: relative;*/
    margin-bottom: 6px;
}
.navbar-header{
    display: inline-block;
    height: 50px;
}
.breadcrumb a{
    /*color: #999999;*/
    color: white;
}
#main{
    position: relative;
    top: 70px;
}
#navbar input{
    margin: 0 auto;
    width: 100%;
}
#content{
    width: 100%;
    margin-bottom: 50px;
}
.stickup{
    z-index: 1;
}
#footer{
    position: relative;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 0px;
}
#login{
    max-width: 36%;
    text-align: center;
    margin: 0 auto;
}
#login_tb{
    width: auto;
    text-align: center;
    margin: 0 auto;
}
#login_tb label{
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: 100;
}
#login_tb input{
    float: right;
    color: black;
}
#login_tb button{
    margin: 10px;
}
.form-control{
    width: 60%;
}
.row{
    width: 100%;
    margin: 10px;
}
.jumbotron{
    background-color: #333333;
    margin: 10px;
    padding: 30px 10px;
}
.post-box{
    margin-bottom: 50px;
}

#menu{
    width: 20%;
    display: inline-block;
}
.post_links{
    color: #999999;
    display: inline-block;
}
#posts{
    min-height: 500px;
    overflow: auto;
}
#posts_preview{
    float: right;
    width: 75%;
    display: inline-block;
}
#post{
    /*width: 100%;*/
    /*display: inline-block;*/
}
.postbox h4 a{
    color: white;
}
.dark{
    color: #999999;
    background-color: #333333;
    border-radius: 3px;
    padding: 6px;
}
#info{
    background-color: #333333;
    margin: 2px;
    padding: 3px 15px;
    color: #398439;
    border:2px solid;
    border-radius:5px;
    border-color: #333333;
    font-size: 1.2em;
}
.mybox{
    background-color: #333333;
    margin: 10px 8px;
    padding: 10px 8px;
    color: white;
    border:2px solid;
    border-radius:5px;
    border-color: #333333;
    font-size: 1.2em;
}
#duoshuo{
    margin-top: 100px;
}
#duoshuo p{
    color: white;
}

/*---------我是分隔线-----------*/

.author{
    float: right;
    position: relative;
    right: 300px;
    display: inline-block;
}
.post_text{
    margin: 30px auto;
}
/*post css*/
.post_text p{
    font-size: 15px;
}
.post_text h1 {
    font-size: 23px;
    font-weight: bold;
    color: #ffffff;
    border-bottom: 1px solid #111;
    margin-bottom: 16px;
    padding-bottom: 10px;
}
.post_text h2 {
    font-size: 21px;
    color: #ffffff;
    border-bottom: 1px solid #111;
    margin-bottom: 16px;
    padding-bottom: 10px;
}
.post_text h3 {
    font-size: 19px;
    color: #ffffff;
    padding-bottom: 10px;
}
.post_text h4 {
    font-size: 17px;
    color: #ffffff;
    padding-bottom: 10px;
}
.post_text h5 {
    font-size: 17px;
    color: #ffffff;
    padding-bottom: 10px;
}
.post_text p{
    margin-bottom: 0px;
}
#pgn{float:right;}
/*post font size*/
#edit_form textarea{
    color: black;
    width: 100%;
    max-width: 100%;
    min-height: 400px;
    border-radius: 6px;
    font-size: 18px;
}
#edit_form input{
    color: black;
    min-width: 400px;
    margin-bottom: 20px;
    font-size: 20px;
    height: 30px;
    border-radius: 4px;
}

@media (max-width: 767px) {
    #navbar-items li{
        display: none;
    }
    #menu{
        display: none;
    }
    #posts_preview{
        width: 100%;
    }
    .mybox .author{
    	display: none;
    }
}
